@import './nprogress.css';
@import './var.less';
@import "./typo.less";
@import 'https://cdn.staticfile.org/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css';

body {
  color: @text-1;
  margin: 0;
  background: #f8f8f8;
  .font-default;
}

code {
  .font-monospace;
}

p:first-child, pre:first-child {
  margin-top: 0;
}

p:last-child, pre:last-child {
  margin-bottom: 0;
}

p, pre, ul, ol {
  margin: .8rem 0;
  line-height: 1.6;
}

pre {
  padding: .4rem .8rem;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, .2);
}

ul, ol {
  padding-left: 20px;
}

.container {
  max-width: 1200px;
  display: block;
  margin: auto;
  padding: 32px 0;
}

.subtle {
  color: rgba(0, 0, 0, .3);
  font-size: 14px;
}

.text-align-center {
  text-align: center;
}

.text-gradient {
  color: transparent;
  display: inline-block;
  background: linear-gradient(135deg, #18ffff 0%, #00bcd4 100%);
  background-clip: text;
}

@keyframes OpacityFade {
  0% {
    opacity: 0;
    visibility: collapse;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes FlowDown {
  0% {
    visibility: collapse;
    transform: translateY(-36px);
  }

  100% {
    visibility: visible;
    transform: translateY(0);
  }
}

.textfield-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.fade-enter-active,
.fade-leave-active {
  transition: all .2s cubic-bezier(.8, 0, 0, 1);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.fadeDown-enter-active,
.fadeDown-leave-active {
  transition: all .2s cubic-bezier(.8, 0, 0, 1);
}

.fadeDown-enter-from,
.fadeDown-leave-to {
  transform: translateY(-36px);
  opacity: 0;
}

.fadeDown-enter-to,
.fadeDown-leave-from {
  transform: translateY(0);
  opacity: 1;
}

.fadeUp-enter-active,
.fadeUp-leave-active {
  transition: all .2s cubic-bezier(.8, 0, 0, 1);
}

.fadeUp-enter-from,
.fadeUp-leave-to {
  transform: translateY(36px);
  opacity: 0;
}

.fadeUp-enter-to,
.fadeUp-leave-from {
  transform: translateY(0);
  opacity: 1;
}

.fadeRight-enter-active,
.fadeRight-leave-active {
  transition: all .2s cubic-bezier(.8, 0, 0, 1);
}

.fadeRight-enter-from,
.fadeRight-leave-to {
  transform: translateX(-36px);
  opacity: 0;
}

.fadeRight-enter-to,
.fadeRight-leave-from {
  transform: translateX(0);
  opacity: 1;
}

.fadeScale-enter-active,
.fadeScale-leave-active {
  transition: all .2s cubic-bezier(.8, 0, 0, 1);
}

.fadeScale-enter-from,
.fadeScale-leave-to {
  transform: scale(0);
  opacity: 0;
}

.fadeScale-enter-to,
.fadeScale-leave-from {
  transform: scale(1);
  opacity: 1;
}

.nowrap {
  flex-wrap: nowrap;
}

.row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.col {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}