@text-1: #3a3a3a;
@text-l1: #ededed;

@font-face {
    font-family: Minecraft;
    src: url("~/assets/fonts/MinecraftRegular.otf") format('opentype')
}

@font-face {
    font-family: YuanHeiNC;
    font-weight: bold;
    src: url("~/assets/fonts/MFYuanHei_Noncommercial-Regular.woff2") format('woff2');
    unicode-range: U+4E00-9FD5;
}